python_scripts/beta_diversity-old.py

#Micov testing -- not needed
micov_testing/*

#Shouldn't need qababra install info
qadabra/install/*
qadabra/git_install/*


#Files removed since turning public
outputs/*
processed_data/*
qiita_downloads/*

### Un-needed files ####

#Figures
figures/*

#Average rare
beta_diversity_avg/*

#Logging /slurm files for birdman
birdman/*/logs/*
birdman/*/slurm_out/*

#Intermediate files for decoide
deicode_*
temp_vis_output/*

#Coverages for each individual file
qiita_downloads/qiita15336_prep16181_pangenome/188963_coverages_WoLr2/*
qiita_downloads/qiita15336_prep16181_pangenome/188968_coverages_RS210/*

#Storage for old attempts
z_history/*

### Basic GitIgnore ###
#.gitignore

*.pyc
*.tar
*.ipynb_checkpoints
*.swp
.DS_Store
*.ipynb_checkpoints*
*.ipynb.checkpoints
*.nc
*.log
*.out
.qzv
